@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tabdesskripsi.css" />
    <link rel="stylesheet" href="~/css/loader.css">
    <link rel="stylesheet" href="~/css/sweetalert2.css">
</head>
<body>
    
    <div class="loader-div">
        <img class="loader-img" src="~/images/loading.gif" style="height: 40px;width: auto;" />
    </div>

    <div class="content content-mt-min4" style="padding-top:10px; background-color: #e7eff6;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">

                    <div style="background: transparent;">
                        <div class="card-body">
                            <div class="row">
                                <h5 style="font-size:larger">
                                    JASA PERBANTUAN PENGAWASAN UNTUK PEKERJAAN PENANGGULANGAN LONGSOR LAWE
                                </h5>
                                <img src="~/images/linesna.png" style="width:200px; height:16px;">
                                <br><br>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div>
                                            <h6><b>Registration  Deadline</b></h6>
                                            <span class="text-secondary" style="font-size: 13px;"><b>Start</b></span><br>
                                            <p class="text-secondary" style="font-size: 17px;">
                                                Monday, 25th September 2023<br>
                                                08.30 WIB (UTC+7})<br>
                                                <span style="font-size: 13px;"><b>End</b></span><br>
                                                Thursday, 28th September 2023<br>
                                                16.30 WIB (UTC+7})
                                            </p>
                                            <button class="btn btn-danger">3 Days : 20 Hours : 58 Minutes Remaining</button>
                                        </div>

                                    </div>
                                    <div class="col-md-5">
                                        <div class="contact-add-item">
                                            <div>
                                                <p class="mb-0"><img src="~/images/kotakkotak.jpg" style="width:200px; height:200px;"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 style="margin-top:20px">
                                <b>Registration Guidance</b>
                            </h6>

                            <div class="card" style="border-radius:7px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1 d-flex align-items-center justify-content-center">
                                            <img src="~/images/icon-PDF-file-solid.svg" style="width:30px; height:30px;">
                                        </div>
                                        <div class="col-9">
                                            <div class="col-12">
                                                <span class="text-ellipsis bold-text">File-Guide-23092024.pdf</span>
                                            </div>
                                            <div class="col-12">
                                                <span>1.290 Kb</span>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-end align-items-center">
                                            <button class="btn btn-outline-primary" style="margin-right:7px;padding-top:3px; padding-bottom:3px;"></button>
                                            <button class="btn btn-outline-primary" style="padding-top:3px; padding-bottom:3px;"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h6 style="margin-top:20px;">
                                <b>Frequently Asked Question (FAQ)</b>
                            </h6>

                            
                            <div class="col-12" style="margin-top:20px;">
                                <section class="accordion">
                                    <div class="tab">
                                        <input type="checkbox" name="accordion-1" id="cb1">
                                        <label for="cb1" class="tab__label"><b>How to Register the PQ?</b></label>
                                        <div class="tab__content">
                                            <p>
                                                Individual Company must filling-out the registration form starting from Monday, 04 September 2023 08.00am Jakarta Local Time up to Thursday, 07 September 2023 04.00pm Jakarta Local Time. Beyond this period, the link will be automatically closed.<br>
                                                Following fields shall be input by using alphabetic characters and numeral only (please avoid any symbols): Company Name, NPWP/Tax Identification Number, Director Name, PIC Name and Phone Number
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="checkbox" name="accordion-1" id="cb2">
                                        <label for="cb2" class="tab__label"><b>What documents are Required for PQ Registration?</b></label>
                                        <div class="tab__content">
                                            <p>
                                                Company must upload following documents:<br>
                                                1. Nomor Pokok Wajib Pajak (NPWP) / Taxpayer Identification Number, and<br>
                                                2. Power of Attorney from Chief Executive Officer or equivalent position in the Company, to authorize the Company's PIC.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="checkbox" name="accordion-1" id="cb3">
                                        <label for="cb3" class="tab__label"><b>What if I don't submit the required documents?</b></label>
                                        <div class="tab__content">
                                            <p>You cannot proceed with your application if you do not submit the required documents.</p>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="checkbox" name="accordion-1" id="cb4">
                                        <label for="cb4" class="tab__label"><b>What if I have trouble??</b></label>
                                        <div class="tab__content">
                                            <p>If Company experiences any trouble / difficulties during Prequalification registration process, please do not hesitate to contact us at sekrepc.dht4@pertamina.com..</p>
                                        </div>
                                    </div>
                                </section>

                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card p-4">
                        <div class="row">
                            <div class="col-12" style="margin-bottom: 10px;">
                                <span class="text-danger">* Required</span>
                            </div>
                            <div class="p-3 py-3">
                                <div class="form-group">
                                    <div class="text-secondary" style="font-size:small">Company Name<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form" style="margin-top:2px;">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="companyName" placeholder="Enter Text" style="height:32px;font-size:small;" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:8px">
                                    <div class="text-secondary" style="font-size:small">NPWP<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="npwp" placeholder="Enter Text" style="height:32px;font-size:small;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:8px">
                                    <div class="text-secondary" style="font-size:small">Director Name<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="directorName" placeholder="Enter Text" style="height:32px;font-size:small;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:8px">
                                    <div class="text-secondary" style="font-size:small">PIC Name<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="picName" placeholder="Enter Text" style="height:32px;font-size:small;">
                                        </div>
                                    </div>
                                </div><!-- /.form-one-col-row -->
                                <div class="form-group" style="margin-top:8px">
                                    <div class="text-secondary" style="font-size:small">Email<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="email" placeholder="Enter Text" style="height:32px;font-size:small;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:8px">
                                    <div class="text-secondary" style="font-size:small">Phone Number<span class="sign-required text-danger">*</span></div>
                                    <div class="field-form">
                                        <div class="field-form">
                                            <input type="text" class="form-control text-secondary" id="phoneNumber" placeholder="Enter Text" style="height:32px;font-size:small;">
                                        </div>
                                    </div>
                                </div>
                                <h6 style="margin-top:20px"><b>Document Upload</b></h6>

                                <div class="row-input-file">
                                    <div class="label text-secondary" style="font-size:small">NPWP <span class="text-danger">*</span></div>
                                    <div class="input-group custominputfile">
                                        <div class="custom-file">
                                            <input type="file" class="text-secondary" id="FileAnnouncement" style="font-size:small">
                                            <label class="text-secondary" for="FileAnnouncement" style="font-size:small; margin-left:8px;">Search file</label>
                                        </div>
                                        <div class="input-group-append" style="margin-left:10px;">
                                            <span class="input-group-text textapps-xs"><img class="img-icon" src="~/images/icon-upload-file-solid.svg" style="width:17px; height:17px;"> 
                                                <label style="font-size:small;margin-left:5px;">Upload</label> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-input-file">
                                    <div class="label text-secondary" style="font-size:small">Power of Attorey <span class="text-danger">*</span></div>
                                    <div class="input-group custominputfile">
                                        <div class="custom-file">
                                            <input type="file" class="text-secondary" id="FileAnnouncement1" style="font-size:small">
                                            <label class="text-secondary" for="FileAnnouncement1" style="font-size:small; margin-left:8px;">Search file</label>
                                        </div>
                                        <div class="input-group-append" style="margin-left:10px;">
                                            <span class="input-group-text textapps-xs"><img class="img-icon" src="~/images/icon-upload-file-solid.svg" style="width:17px; height:17px;"> 
                                                <label style="font-size:small;margin-left:5px;">Upload</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-checkbox" style="margin-top:15px;">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1" style="width:16px;height:16px;">
                                        <label for="customCheckbox1" class="text-secondary" style="font-size:small">
                                            Allow access to invitation after closing date Allow access to invitation
                                            Allow access to invitation after closing date Allow access to invitation
                                        </label>
                                        <br>
                                        <div class="d-flex align-items-center" style="margin-top:10px">
                                            <button style="margin-right:10px" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#" onclick="clearForm_onClick()">Clear Form</button>
                                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#" onclick="btnSave_onClick1()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

        function clearForm_onClick() {
            document.getElementById("companyName").value = "";
            document.getElementById("npwp").value = "";
            document.getElementById("directorName").value = "";
            document.getElementById("picName").value = "";
            document.getElementById("email").value = "";
            document.getElementById("phoneNumber").value = "";
            document.getElementById('FileAnnouncement').value = '';
            document.getElementById('FileAnnouncement1').value = '';
            document.getElementById("customCheckbox1").checked = false;
        }


        function btnSave_onClick1() {

            // Ambil semua data dari form
            var companyName = document.getElementById("companyName").value;
            var npwp = document.getElementById("npwp").value;
            var directorName = document.getElementById("directorName").value;
            var picName = document.getElementById("picName").value;
            var email = document.getElementById("email").value;
            var phoneNumber = document.getElementById("phoneNumber").value;
            var npwpFile = document.getElementById("FileAnnouncement").files[0]; // File NPWP
            var powerOfAttorneyFile = document.getElementById("FileAnnouncement1").files[0]; // File Power of Attorney
            var allowAccess = document.getElementById("customCheckbox1").checked;

            //validasi jika kosng
            if (companyName === "") {
                alertPesanError("Company Name tidak boleh kosong");
                return;
            }
            if (npwp === "") {
                alertPesanError("NPWP tidak boleh kosong");
                return;
            }
            if (directorName === "") {
                alertPesanError("Director Name tidak boleh kosong");
                return;
            }
            if (picName === "") {
                alertPesanError("PIC Name tidak boleh kosong");
                return;
            }
            if (email === "") {
                alertPesanError("Email tidak boleh kosong");
                return;
            }
            if (phoneNumber === "") {
                alertPesanError("Phone Number tidak boleh kosong");
                return;
            }
            if (!npwpFile) { 
                alertPesanError("NPWP file tidak boleh kosong");
                return;
            }
            if (!powerOfAttorneyFile) { 
                alertPesanError("Power of Attorney file tidak boleh kosong");
                return;
            }
            if (!allowAccess) { 
                alertPesanError("Centang terlebih dahulu allow access");
                return;
            }

            // Buat FormData object untuk mengirim file
            var formData = new FormData();
            formData.append("companyName", companyName);
            formData.append("npwp", npwp);
            formData.append("directorName", directorName);
            formData.append("picName", picName);
            formData.append("email", email);
            formData.append("phoneNumber", phoneNumber);
            formData.append("allowAccess", allowAccess);

            if (npwpFile) formData.append("npwpFile", npwpFile);
            if (powerOfAttorneyFile) formData.append("powerOfAttorneyFile", powerOfAttorneyFile);

            $(".loader-div").show();
            $.ajax({
                url: "https://localhost:7016/api/Registration/AddRegistration",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    $(".loader-div").hide();
                    alertPesanSuccess("Success: " + data.message);
                    clearForm_onClick();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var status = jqXHR.status;
                    var response = jqXHR.responseJSON;

                    $(".loader-div").hide();
                    if (response) {
                        alertPesanError("Error Status Code : " + status + ", Message : " + response.message)
                    } else {
                        alertPesanError("Error: Ada kesalahan ketika menyambungkan ke server");
                    }
                }
            });

        }


        function alertPesanError(textError) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: textError
            })
        }

        function alertPesanSuccess(text) {
            Swal.fire(
                'Sukses !',
                text
            );
        }

    </script>
</body>
</html>
